/* Write your CSS here */
.language-button-container {
  list-style-type: none;
  margin: 20px;
}

.language-button {
  font-size: 15px;
  background-color: transparent;
  border-width: 0px;
  font-weight: 600;
}

.button-styling {
  color: #0284c7;
  border: 1px solid #0284c7;
  border-radius: 20px;
  padding: 5px;
}
